@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

#cartMenu {
  border-bottom: 0 none !important;
  box-shadow: none;
}

#strokedP {
    -webkit-text-stroke: 0.1rem black;
    font-size: 2rem;
    font-family: Source Sans Pro, sans-serif;
    letter-spacing: 0.25rem;
}

#mainHeader {
    -webkit-text-stroke: 0.15vw black;
    font-size: 9vw;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.01em;
    color: red;
    text-shadow: 0.4vw 0.4vh 0 #000000;
    white-space: nowrap;
}