@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap');

#cartMenu {
  border-bottom: 0 none !important;
  box-shadow: none;
}

#strokedP {
    -webkit-text-stroke: 0.1rem black;
    font-size: 2rem;
    font-family: Source Sans Pro, sans-serif;
    letter-spacing: 0.25rem;
}

